<div class="container-fluid login-body" style="height:100vh; position: relative; display: inline-block;">
<div class="main-panel">

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">

            <div class="card card-login">
              <div class="card-header text-center" data-background-color="blue">
                <h3 class="card-title">Reset Password</h3>
              </div>
              <div class="card-content">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="material-icons">email</i>
                  </span>
                  <div class="form-group label-floating" id="emailf">
                    <label class="control-label">Email address</label>
                    <input name="email" type="email" id="email" class="form-control required" [(ngModel)]="_RegisterInfo.email" maxlength="20">
                    <span class="material-input" style="color: red">{{_ErrorEmail}}</span>
                  </div>
                </div>

                <div class="footer text-center">

                  <button id="action" value="login" type="buttons" class="btn btn-round btn-fill btn-info  pull-right" (click)="Getauthentication()">Send
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>