<div class="container-fluid login-body" style="height:100vh; position: relative; display: inline-block;">

<div class="main-panel ">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                        <form id='login' action="login" method="post">
                            <div class="card card-login">
                                <div class="card-header text-center" data-background-color="blue">
                                    <h3 class="card-title">Come on in</h3>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating" id="emailf">
                                            <label class="control-label">Email address</label>
                                            <input name="email" type="email" id="email" class="form-control required" [(ngModel)]="_EmployeeInfo.email" maxlength="20">
                                            <span class="material-input" style="color: red">{{_ErrorEmail}}</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating" id="passwordf">
                                            <label class="control-label">Password</label>
                                            <input id='password' name="password" type="password" class="form-control required" [(ngModel)]="_EmployeeInfo.password" (keydown)="keyDownFunction($event)" maxlength="20">
                                            <span class="material-input" style="color: red">{{_ErrorPassword}}</span>

                                        </div>
                                    </div>

                                    <div class="footer text-center">
                                        <button id="btn2" type="button" class="btn btn-round btn-fill btn-muted pull-left" (click)="register()">Register
                                            <div class="ripple-container"></div>
                                        </button>

                                        <button id="action" value="login" type="button" class="btn btn-round btn-fill btn-info  pull-right" (click)="Getauthentication()">Login
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <p class="text-info">
                                <a  class="text-info" [routerLink]="['/resetpassword']" routerLinkActive="active">Take me to the home page</a> · Forgot your password?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>